<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <script type="module" src="/scripts/modify.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1><%= heading %></h1>
      <form
        id="<%=locals.post ? 'editForm' : 'postForm' %>"
        method="post"
        action="/api/posts<%=locals.post ? `/${post.id}` : ''%>"
      >
        <fieldset>
          <label for="title" class="sr-only">Title</label>
          <input
            id="title"
            type="text"
            name="title"
            placeholder="Title"
            value="<%=locals.post ? post.title : '' %>"
            required
            minlength="5"
            maxlength="150"
            autofocus
          />
        </fieldset>
        <fieldset>
          <label for="content" class="sr-only">Content</label>
          <textarea
            id="content"
            name="content"
            placeholder="Content"
            rows="10"
            required
            minlength="5"
            maxlength="3500"
          >
<%=locals.post? post.content : '' %></textarea
          >
        </fieldset>
        <fieldset>
          <label for="author" class="sr-only">Author</label>
          <input
            id="author"
            type="text"
            name="author"
            placeholder="Author"
            value="<%=locals.post ? post.author : '' %>"
            required
            minlength="5"
            maxlength="50"
          />
        </fieldset>
        <div class="post-actions">
          <a href="/" class="outline">Cancel</a>
          <button type="submit"><%= submit %></button>
        </div>
      </form>
    </div>
  </body>
</html>
