<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/scripts/index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>My Blog</h1>
        <div class="header-actions">
          <a id="newPostBtn" href="/new">New Post</a>

          <form id="searchForm" class="searchForm" method="post" action="/">
            <input
              type="text"
              name="search"
              id="search"
              class="search"
              placeholder="Search posts..."
              value="<%= locals.filter ?? '' %>"
              aria-label="Search posts"
            />
            <div class="searchForm-icon">
              <img
                src="/assets/icons/search-icon.svg"
                alt=""
                width="18"
                height="18"
              />
            </div>
          </form>
        </div>
      </header>
      <% if (locals.posts.length > 0) { %>
      <ul id="postsList">
        <% posts.forEach(post=> { %>
        <li>
          <h2><%=post.title%></h2>
          <small> <%=post.date %> </small>
          <p><%=post.content%></p>
          <small
            >By:
            <%=post.author%>
          </small>
          <a class="edit" href="/edit/<%= post.id %>">Edit</a>
          <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <% if (locals.filter) { %>
      <p>No results match your search criteria...</p>
      <% } else { %>
      <div>
        <p>No currently available posts...</p>
        <a href="/api/posts/reset" class="neutral-dark">Generate new posts</a>
      </div>
      <% }%>

      <% }%>
    </div>

    <dialog>
      <div class="spinner">
        <span class="sr-only">Loading...</span>
      </div>
    </dialog>
  </body>
</html>
